name: get job id run test
on: 
  push: 
    branches: [main, dev]
jobs:
  get-job-id: # use matrix jobs
    runs-on: ubuntu-latest
    strategy:
      matrix:
        cases: ['test1', 'test2', 'test3', 'test4', 'test5', 'test6', 'test7', 'test8', 'test9', 'test10', 
                'test11', 'test12', 'test13', 'test14', 'test15', 'test16', 'test17', 'test18', 'test19', 'test20', 
                'test21', 'test22', 'test23', 'test24', 'test25', 'test26', 'test27', 'test28', 'test29', 'test30', 
                'test31', 'test32', 'test33', 'test34', 'test35', 'test36', 'test37', 'test38', 'test39', 'test40' 
              ]
    name: ${{matrix.cases}} # change SET-A-NEW-NAME
    steps:
      - name: set id
        id: set-job-id
        uses: ayachensiyuan/get-action-job-id@main
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          job-name: ${{matrix.cases}}  # same as name

      # get id     
      - name: get id
        run: echo "The current job id is ${{ steps.set-job-id.outputs.jobId }}"
  
  get-job-id1: # use single job
    runs-on: ubuntu-latest
    name: SET-A-NEW-NAME1 # change SET-A-NEW-NAME
    steps:
      - name: set id
        id: set-job-id
        uses: ayachensiyuan/get-action-job-id@main
        env: 
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          job-name: SET-A-NEW-NAME1 # same as name

      # get id     
      - name: get id
        run: echo "The current job id is ${{ steps.set-job-id.outputs.jobId }}"